.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #cc4400;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #e64d00;
}

#sidebar a {
    color: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #e64d00;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #fff;
    background: #ff884d;
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #ff661a;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ff7733	;
}

.footer_note {
    padding: 1.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}
.footer_note p:last-child {
    margin-bottom: 0;
}